# macOS
.DS_Store

#iOS
xcshareddata/
iOS/consumer/build.vars

# xcode
xcuserdata
*.xcuserstate
project.xcworkspace

# Android
Android/wrapper/.cxx/
.gradle/
.idea/
*.iml
*google-services.json

build/